.card-heading-avatar {
  display: inline-block;
}
.comment-time {
  font-size: 11px;
  margin-left: 5px;
}

.new-comment-input-box {
  padding: 5px;
  font-size: 13px;
  color: #c4c4c4;

  // box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  box-shadow: none;
  background: #fff;
  border: 1px solid #e4e4e4;

  cursor: text;
  width: 100%;
  box-sizing: border-box;
}
.card-buttons {
  margin-top: 1px;
  .btn {
    height: 30px;
  }
}
button.share-button {
  margin-left: 4px;
}
textarea.new-comment-input-box-content {
  width: 100%;
  resize: none;
  box-sizing: border-box;
  box-shadow: none;
  padding: 8px;
  border: 1px solid #e4e4e4 !important;
}
textarea.new-comment-input-box-content:focus:active:hover {
  border: 1px solid #e4e4e4 !important;
}
.inline-comment-input-box {
  position: relative;
  margin-left: 105px;
}
.card {
  position: relative;
}
.card-topic-badges-wrapper {
  position: absolute;
  z-index: 1001;
  right: 0;
  top: 0;
  margin: 38px 0 0 0;
  font-size: 12px;
  -webkit-transition: box-shadow .218s ease,background-color .218s ease,max-width .218s step-end;
  transition: box-shadow .218s ease,background-color .218s ease,max-width .218s step-end;
}

.card-topic-badge {
  background-color: #f5f5f5;
  clear: both;
  height: 26px;
  line-height: 26px;
}

.card-topic-badge-ribbon {
  background-color: #427fed;
  height: 26px;
  margin-right: -4px;
  padding-right: 4px;
  width: 0;
}
.card-topic-badge-text {
  max-width: 130px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  -webkit-transition: opacity .218s ease,max-width .218s step-end,visibility .218s step-end;
  transition: opacity .218s ease,max-width .218s step-end,visibility .218s step-end;
  color: #999;
}

.card-topic-badge-text:hover {
  text-decoration: none;
}

.card:hover {
  .card-topic-badge-text {
    color: #427fed;
  }
  .card-topic-badges-wrapper {
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    -webkit-transition: box-shadow .218s ease, color .218s ease;
    transition: box-shadow .218s ease, color .218s ease;
  }
}
.card-topic-badge:hover {
  background-color: #427fed;
  cursor: pointer;
  .card-topic-badge-text {
    color: white;
  }
}
.opacity-hide {
  display: none;
  opacity: 0;
}
.card-topic-badges-wrapper:hover {
  .card-topic-badge.opacity-hide {
    opacity: 1;
    display: block;
  }
  .card-topic-badge-more {
    display: none;
  }
}

textarea.repost-comment-input-box-content {
  border-top: none !important;
  padding-top: 0;
  margin-top: 0;
}

textarea.repost-comment-input-box-content:focus:active:hover {
  border-top: none !important;
}
.repost-topic-picker {
  // margin-top: -1px;
  margin-top: 10px;
}
.repost-topic-picker .pluspicker-box {
  border-bottom: none;
  box-shadow: none;
}

// overrides bootplus
.media {
  overflow: visible;
}
.media-body {
  overflow: visible;
  margin-left: 40px;
}
