.topic-card {
  position: relative;
  margin: 0 0 20px 0;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-top: 5px solid white;
  border-top-color: #76a7fa;
  box-sizing: border-box;
  border-radius: 3px
}
.topic-card .topic-card-body {
  padding: 0 20px;
  margin-top: 20px; 
}
.topic-card .topic-card-heading {
  padding: 0 20px;
  margin-top: 10px;
}
.topic-card .topic-card-button {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}
.topic-card-stats {
  padding-bottom: 20px;
  a {
    color: #999; 
  }
  a:hover {
    color: #427fed 
  }
}
.topic-card-button-dropdown {
  position: absolute;
  bottom: 15px;
  right: 20px;
}

.collapsed {
  overflow: hidden;
  height: 0px;
}
.expanded {
  overflow: visible;
  height: 146px;
}
.topic-card-button i {
  font-size: 10px;
}
.topic-card-button ul {
  left: initial;
  right: -10px;
}
