<div id='main-view'>
<div ng-include='' src="'views/navbar.html'"></div>
<div class='container-fluid'>
<div class='span6 offset3'>
<div ng-include='' src="'views/new_post.html'" style='padding-top: 50px'></div>
<div class='card' ng-repeat='post in posts'>
<div class='dropdown pull-right'>
<a class='fa fa-chevron-down no-decoration dropdown-toggle' href='' style='padding-right: 15px'></a>
<ul class='dropdown-menu'>
<li>
<a data-ng-click='' href=''>
Delete
</a>
</li>
</ul>
</div>
<div class='card-heading image'>
<div class='gravatar-image card-heading-avatar' data-gravatar-default='mm' data-gravatar-email='post.user.email' data-gravatar-size='46'></div>
<div class='card-heading-header'>
<h3 class='card-heading-title'>
{{post.title}}
</h3>
<span am-time-ago='post.updated_at'></span>
<span>
, posted by {{post.user.username}}
</span>
</div>
</div>
<div class='card-body'>
<p ng-bind-html='post.content | linebreak'></p>
</div>
<div class='card-actions'>
<div class='card-buttons pull-left'>
<button class='btn star-button'>
<i class='fa fa-star-o'></i>
</button>
<button class='btn share-button'>
Share
</button>
</div>
<div class='inline-comment-input-box' ng-click='toggleNewComment($index); focusComment = true' ng-hide='post.comment_size &gt; 0 || newCommentIsOpen($index)'>
<div class='new-comment-input-box'>
Add a comment...
</div>
</div>
</div>
<div class='card-comments' ng-show='post.comment_size &gt; 0 || newCommentIsOpen($index)'>
<div class='comments-collapse-toggle' ng-show='post.comment_size &gt; 0'>
<a ng-click='toggleComments($index)'>
{{post.comment_size}} comments
<i class='fa fa-angle-down'></i>
</a>
</div>
<div class='comment-list' collapse='!commentIsOpen($index)'>
<div class='comments' ng-repeat='comment in post.comments'>
<div class='media'>
<a class='pull-left' href=''>
<div class='gravatar-image' data-gravatar-default='mm' data-gravatar-email='comment.user.email' data-gravatar-size='28'></div>
</a>
<div class='media-body'>
<h4 class='media-heading'>
{{comment.user.username}}
<span am-time-ago='comment.updated_at' class='comment-time muted'></span>
</h4>
<p ng-bind-html='comment.content | linebreak'></p>
</div>
</div>
</div>
</div>
<div class='comments'>
<div class='media' ng-hide='newCommentIsOpen($index)'>
<div class='new-comment-input-box' ng-click='toggleNewComment($index); focusComment = true' ng-show='post.comment_size &gt; 0'>
Add a comment...
</div>
</div>
<div class='media' ng-show='newCommentIsOpen($index)'>
<a class='pull-left'>
<div class='gravatar-image' data-gravatar-default='mm' data-gravatar-email='user.email' data-gravatar-size='28'></div>
</a>
<div class='media-body'>
<textarea class='new-comment-input-box-content' msd-elastic='' ng-focus-lost='commentLoseFocus()' ng-focus='focusComment' ng-model='post.newComment'></textarea>
<div class='comment-buttons'>
<button class='btn btn-primary' ng-click='submitComment($index)' ng-disabled="!post.newComment || post.newComment == ''">
Post comment
</button>
<button class='btn' ng-click='toggleNewComment($index)'>
Cancel
</button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
