<div class='profile-card'>
<div class='profile-avatar'>
<div class='gravatar-image profile-image' data-gravatar-default='mm' data-gravatar-email='user.email' data-gravatar-size='70'></div>
</div>
<div class='profile-details'>
<p class='profile-username'>
{{user.username}}
</p>
<p class='profile-name'>
{{user.name}}
</p>
<p class='profile-email'>
{{user.email}}
</p>
</div>
<div class='navbar'>
<div class='navbar-inner'>
<ul class='nav'>
<li class='active'>
<a href=''>
Topics
</a>
</li>
<li>
<a href=''>
Feeds
</a>
</li>
<li>
<a href=''>
Posts
</a>
</li>
<li>
<a href=''>
Favors
</a>
</li>
<li>
<a href=''>
Following
</a>
</li>
</ul>
</div>
</div>
</div>
