<div id='profile-view'>
<div ng-include='' src="'views/navbar.html'"></div>
<div class='row-fluid'>
<div class='span6 offset3'>
<h1 class='text-center login-title'>
Profile Page
</h1>
</div>
</div>
<img alt='' class='profile-img' src='images/profile.png'>
<div class='card' ng-repeat='post in posts'>
<h3 class='card-heading simple'>
{{post.title}}
</h3>
<div class='card-body'>
{{post.content}}
</div>
<div class='card-actions'></div>
</div>
<div class='row-fluid'>
<div class='span6 offset3'>
<h1 class='text-center login-title'>
Topics Followed:
</h1>
</div>
</div>
<div class='card' ng-repeat='topic in topics'>
<h3 class='card-heading simple'>
{{topic.name}}
</h3>
</div>
<div class='row-fluid'>
<div class='span6 offset3'>
<h1 class='text-center login-title'>
Suggested Topics:
</h1>
</div>
</div>
<div class='row-fluid'>
<div class='span6 offset3'>
<h1 class='text-center login-title'>
Coming Soon!
</h1>
</div>
</div>
</div>
