.row-fluid
  .span6.offset3
    %h1.text-center.login-title
      Login to Topica
    .login-card
      %img.profile-img{:src => "images/profile.png", :alt => ""}
      %form.form-signin
        %input.form-control{:type => "text", :placeholder => "Email", :required => true, :autofocus => true}
        %input.form-control{:type => "password", :placeholder => "Passowrd", :required => true}
        %button#signin-button.btn.btn-large.btn-primary.btn-block{:type => "submit"}
          Sign in
        %label.checkbox.pull-left
          %input{:type => "checkbox", :value => "remember-me"}
          Remember me
        %a.pull-right{:href => ""}
          New account
      


