%div#main-view
  %div{"ng-include" => "", :src => "'views/navbar.html'"}
  .container-fluid 
    .span6.offset3
      %div{"ng-include" => "", :src => "'views/new_post.html'", "style" => "padding-top: 50px"}
      %div.newscard{"posts" => "posts", "user" => "user"}
