.navbar
  .navbar-inner
    .brand
      Topica
    %ul.nav.pull-right
      %li
        %a{:href => "", "ng-click" => "logout()"}
          logout
      
.card{"ng-repeat" => "post in posts"}
  %h3.card-heading.simple
    {{post.title}}
  .card-body
    {{post.content}}
  .card-actions
