%div#main-view
  %div{"ng-include" => "", :src => "'views/navbar.html'"}
  .container-fluid 
    .span6.offset3
      %div{"ng-include" => "", :src => "'views/new_post.html'", "style" => "padding-top: 50px"}
      .card{"ng-repeat" => "post in posts"}
        .dropdown.pull-right
          %a.fa.fa-chevron-down.no-decoration.dropdown-toggle{:style => "padding-right: 15px", :href => ""}
          %ul.dropdown-menu
            %li
              %a{:href => "", "data-ng-click" => ""}
                Delete
        .card-heading.image
          .gravatar-image.card-heading-avatar{"data-gravatar-email" => "post.user.email", "data-gravatar-size" => "46", "data-gravatar-default" => "mm"}

          .card-heading-header
            %h3.card-heading-title
              {{post.title}}
            %span{"am-time-ago" => "post.updated_at"}
            %span
              , posted by {{post.user.username}}
        .card-body
          %p 
            {{post.content}}
        .card-comments
          .comments-collapse-toggle
            %a{"ng-click" => "toggleComments($index)"}
              {{post.num_of_comments}} comments
              %i.fa.fa-angle-down

            .pull-right.card-buttons
              %button.btn
                %i.fa.fa-star-o
              %button.btn
                Share
          .comments{:collapse => "!commentIsOpen($index)", "ng-repeat" => "comment in post.comments"}
            .media
              %a.pull-left{"href" => ""}
                .gravatar-image{"data-gravatar-email" => "comment.user.email", "data-gravatar-size" => "28", "data-gravatar-default" => "mm"}
              .media-body
                %h4.media-heading
                  {{comment.user.username}}
                  %span.comment-time.muted{"am-time-ago" => "comment.updated_at"}

                %p
                  {{comment.content}}
          .comments
            .media{"ng-hide" => "newCommentIsOpen($index)"}
              .new-comment-input-box{"ng-click" => "toggleNewComment($index)"}
                Add a comment...
            .media{"ng-show" => "newCommentIsOpen($index)"}
              %a.pull-left
                .gravatar-image{"data-gravatar-email" => "userSession.user.email", "data-gravatar-size" => "28", "data-gravatar-default" => "mm"}
              .media-body
                %textarea.new-comment-input-box-content{"msd-elastic" => "", "ng-model" => "newComment.content"}
                .comment-buttons
                  %button.btn.btn-primary{"ng-disabled" => "!newComment.content || newComment.content == ''"}
                    Post comment
                  %button.btn{"ng-click" => "toggleNewComment($index)"}
                    Cancel
