%div#main-view
  %div{"ng-include" => "", :src => "'views/navbar.html'"}
  .container-fluid 
    .span6.offset3
      %div{"ng-include" => "", :src => "'views/new_post.html'", "style" => "padding-top: 50px"}
      .card{"ng-repeat" => "post in posts"}
        .dropdown.pull-right
          %a.fa.fa-chevron-down.no-decoration.dropdown-toggle{:style => "padding-right: 15px", :href => ""}
          %ul.dropdown-menu
            %li
              %a{:href => "", "data-ng-click" => ""}
                Delete
        .card-heading.image
          .gravatar-image.card-heading-avatar{"data-gravatar-email" => "post.user.email", "data-gravatar-size" => "46", "data-gravatar-default" => "mm"}

          .card-heading-header
            %h3.card-heading-title
              {{post.title}}
            %span{"am-time-ago" => "post.updated_at"}
            %span
              , posted by {{post.user.username}}
        .card-body
          %p{"ng-bind-html" => "post.content | linebreak"}
        .card-actions
          .card-buttons.pull-left
            %button.btn.star-button
              %i.fa.fa-star-o
            %button.btn.share-button
              Share
          .inline-comment-input-box{"ng-hide" => "post.num_of_comments > 0 || newCommentIsOpen($index)", "ng-click" => "toggleNewComment($index); focusComment = true"}
            .new-comment-input-box
              Add a comment...
        .card-comments{"ng-show" => "post.num_of_comments > 0 || newCommentIsOpen($index)"}
          .comments-collapse-toggle{"ng-show" => "post.num_of_comments > 0"}
            %a{"ng-click" => "toggleComments($index)"}
              {{post.num_of_comments}} comments
              %i.fa.fa-angle-down

          .comment-list{:collapse => "!commentIsOpen($index)"}
      
            .comments{"ng-repeat" => "comment in post.comments"}
              .media
                %a.pull-left{"href" => ""}
                  .gravatar-image{"data-gravatar-email" => "comment.user.email", "data-gravatar-size" => "28", "data-gravatar-default" => "mm"}
                .media-body
                  %h4.media-heading
                    {{comment.user.username}}
                    %span.comment-time.muted{"am-time-ago" => "comment.updated_at"}

                  %p{"ng-bind-html" => "comment.content | linebreak"}
          .comments
            .media{"ng-hide" => "newCommentIsOpen($index)"}
              .new-comment-input-box{"ng-click" => "toggleNewComment($index); focusComment = true", "ng-show" => "post.num_of_comments > 0"}
                Add a comment...
            .media{"ng-show" => "newCommentIsOpen($index)"}
              %a.pull-left
                .gravatar-image{"data-gravatar-email" => "userSession.user.email", "data-gravatar-size" => "28", "data-gravatar-default" => "mm"}
              .media-body
                %textarea.new-comment-input-box-content{"ng-model" => "post.newComment", "msd-elastic" => "", "ng-focus" => "focusComment", "ng-focus-lost" => "commentLoseFocus()"}
                .comment-buttons
                  %button.btn.btn-primary{"ng-disabled" => "!post.newComment || post.newComment == ''", "ng-click" => "submitComment($index)"}
                    Post comment
                  %button.btn{"ng-click" => "toggleNewComment($index)"}
                    Cancel
