%div#main-view
  %div{"ng-include" => "", :src => "'views/navbar.html'"}
  .container-fluid 
    .span6.offset3
      %div{"ng-include" => "", :src => "'views/new_post.html'", "style" => "padding-top: 50px"}
      .card{"ng-repeat" => "post in posts"}
        .dropdown.pull-right
          %a.fa.fa-chevron-down.no-decoration.dropdown-toggle{:style => "padding-right: 15px", :href => ""}
          %ul.dropdown-menu
            %li
              %a{:href => "", "data-ng-click" => ""}
                Delete
        .card-heading.image
          .gravatar-image.card-heading-avatar{"data-gravatar-email" => "email", "data-gravatar-size" => "46", "data-gravatar-default" => "mm"}

          .card-heading-header
            %h3
              {{post.title}}
            %span{"am-time-ago" => "post.updated_at"}
        .card-body
          %p 
            {{post.content}}
        .card-comments
          .comments-collapse-toggle
            %a{"data-toggle" => "collapse"}
              comments
          .comments.collapse{"style" => "height: 0px"}
