%div#main-view
  %div{"ng-include" => "", :src => "'views/navbar.html'"}
  .container-fluid 
    .span6.offset3
      %div{"ng-include" => "", :src => "'views/new_post.html'", "style" => "padding-top: 50px"}
      .card{"ng-repeat" => "post in posts"}
        %div{"ng-include" => "", :src => "'views/newscard.html'", "ng-controller" => "MainController"}
