.navbar.navbar-fixed-top{"ng-controller" => "NavbarController"}
  .navbar-inner
    .brand.hotcorner-trigger-wrapper{"ng-mouseenter" => "hoverHotcornerIcon = true", "ng-mouseleave" => "hoverHotcornerIcon = false; clickHotcornerIcon = false", "ng-class" => "hotcornerIconClass()"}
      %a.hotcorner-icon{:href => ""}
        %i.fa.fa-bars
    %ul.nav
      %li
        -# %a{:href => "#", "ng-click" => "hello()"}
        -#   %i.fa.fa-home
        -#   Home
    %ul.nav.pull-right
      %li.dropdown
        %a.dropdown-toggle{:href => ""}
          %i.fa.fa-user
          {{userSession.user.username}}
        %ul.dropdown-menu
          %li
            %a{:href => "", "ng-click" => "logout()"}
              %i.fa.fa-power-off
              Logout
  .hotcorner-menu-wrapper{"ng-class" => "hotcornerMenuClass()", "ng-mouseenter" => "hoverHotcornerMenu = true", "ng-mouseleave" => "hoverHotcornerMenu = false"}  
    .hotcorner-menu-scroller
      %ul.hotcorner-menu
        %li.hotcorner-search-item
          %a.hotcorner-icon
            %i.fa.fa-search
          %input.hotcorner-search{:placeholder => "Search", :type => "search"}

-# %div
-#   %ul#gn-menu.gn-menu-main
-#     %li.gn-trigger
-#       %a.gn-icon.gn-icon-menu{:href => "", "ng-mouseenter" => "hoverIcon = true", "ng-mouseleave" => "hoverIcon = false; clickIcon = false", "ng-click" => "toggleMenu()", "ng-class" => "menuIconClass()"}
-#       .gn-menu-wrapper{"ng-class" => "menuClass()", "ng-mouseenter" => "hoverMenu = true", "ng-mouseleave" => "hoverMenu = false"}
-#         %div.gn-scroller
-#           %ul.gn-menu
-#             %li.gn-search-item
-#               %input.gn-search{:placeholder => "Search", :type => "search"}
-#               %a.gn-icon.gn-icon-search
-#                 %i.fa.fa-search
-#     %li
-#       %a{:href => ""}
-#         Main



