.navbar.navbar-fixed-top{"ng-controller" => "NavbarController"}
  .navbar-inner
    %a.hotcorner-icon.hotcorner-icon-trigger{"ng-mouseenter" => "hoverHotcornerIcon = true", "ng-mouseleave" => "hoverHotcornerIcon = false", "ng-class" => "hotcornerIconClass()", "ng-click" => "toggleHotcornerMenu()"}
      %i.fa.fa-bars
    %ul.nav.pull-right
      %li.dropdown
        %a.dropdown-toggle{:href => ""}
          %i.fa.fa-user
          {{userSession.user.username}}
        %ul.dropdown-menu
          %li
            %a{:href => "", "ng-click" => "changeView('/profile')"}
              %i.fa.fa-user
              Profile
            %a{:href => "", "ng-click" => "logout()"}
              %i.fa.fa-power-off
              Logout

  .hotcorner-menu-wrapper{"ng-class" => "hotcornerMenuClass()", "ng-mouseenter" => "hoverHotcornerMenu = true", "ng-mouseleave" => "hoverHotcornerMenu = false"}  
    .hotcorner-menu-scroller
      %ul.hotcorner-menu
        %li.hotcorner-search-item.hotcorner-menu-item
          %a.hotcorner-icon.hotcorner-icon-search
            %i.fa.fa-search
          %input.hotcorner-search{:placeholder => "Search", :type => "search"}

        %li.hotcorner-menu-item{"ng-repeat" => "item in visibleItems", "ng-click" => "selectMenuItem($index)"}
          %a.hotcorner-icon
            %i.fa{"ng-class" => "'fa-' + item.icon"}
          %span.hotcorner-menu-text
            {{item.text}}
          %span.hotcorner-menu-item-arrow
            %i.fa{"ng-class" => "arrowClass()"}




