.navbar.navbar-fixed-top{"ng-controller" => "NavbarController"}
  .navbar-inner
    .hotcorner-trigger-wrapper{"ng-mouseenter" => "hoverHotcornerIcon = true", "ng-mouseleave" => "hoverHotcornerIcon = false; clickHotcornerIcon = false", "ng-class" => "hotcornerIconClass()"}
      %a.hotcorner-icon.hotcorner-icon-trigger{:href => ""}
        %i.fa.fa-bars
    %ul.nav
      %li
        -# %a{:href => "#", "ng-click" => "hello()"}
        -#   %i.fa.fa-home
        -#   Home
    %ul.nav.pull-right
      %li.dropdown
        %a.dropdown-toggle{:href => ""}
          %i.fa.fa-user
          {{userSession.user.username}}
        %ul.dropdown-menu
          %li
            %a{:href => "", "ng-click" => "logout()"}
              %i.fa.fa-power-off
              Logout
  .hotcorner-menu-wrapper{"ng-class" => "hotcornerMenuClass()", "ng-mouseenter" => "hoverHotcornerMenu = true", "ng-mouseleave" => "hoverHotcornerMenu = false"}  
    .hotcorner-menu-scroller
      %ul.hotcorner-menu
        %li.hotcorner-search-item.hotcorner-menu-item
          %a.hotcorner-icon.hotcorner-icon-search
            %i.fa.fa-search
          %input.hotcorner-search{:placeholder => "Search", :type => "search"}




