.card{"ng-controller" => "NewPostController"}
  .card-body
    .pluspicker
      .pluspicker-toggle.pluspicker-box{:items => "topics"}
        %span.pluspicker-listitem{"ng-repeat" => "topic in topics | filter: {selected: true}"}
          {{topic.text}}

      %ul.pluspicker-menu{:items => "topics"}
  .card-actions
    %a{"ng-click" => "showSelectedTopics()"}
      show
