.card{"ng-controller" => "NewPostController"}
  .card-body
    .pluspicker{:items => "topics"}
      -# .pluspicker-toggle.pluspicker-box{:items => "topics"}

      -# %ul.pluspicker-menu{:items => "topics"}
  .card-actions
