.card
  .card-body
    .pluspicker-wrapper.dropdown
      .pluspicker-toggle.pluspicker-box
      %ul.pluspicker-menu
        %li
          %a
            hello
        %li
          %a
            world!
        %li
          %a
            yes
        %li
          %a
            sir!
  .card-actions
