.profile-card{"ng-controller" => "ProfileController"}
  .profile-avatar
    .gravatar-image.profile-image{"data-gravatar-email" => "user.email", "data-gravatar-size" => "70", "data-gravatar-default" => "mm"}
  .profile-details
    %p.profile-username
      {{user.username}}
    %p.profile-name
      {{user.name}}
    %p.profile-email
      {{user.email}}
  .navbar
    .navbar-inner
      %ul.nav
        %li{"ng-class" => "{'active': isActivePage('topics')}", "ng-click" => "isActivePage('topics')"}
          %a{:href => ""}
            Topics
        %li{"ng-class" => "{'active': isActivePage('feeds')}"}
          %a{:href => ""}
            Feeds
        %li{"ng-class" => "{'active': isActivePage('posts')}"}
          %a{:href => ""}
            Posts
        %li{"ng-class" => "{'active': isActivePage('favors')}"}
          %a{:href => ""}
            Favors
        %li{"ng-class" => "{'active': isActivePage('following')}"}
          %a{:href => ""}
            Following
        
