%div#profile-view
  %div{"ng-include" => "", :src => "'views/navbar.html'"}
  .container-fluid{:style => "margin-top: 60px;"}
    .span6.offset3
      %div{"ng-include" => "", :src => "'views/profile_about.html'", "ng-controller" => "ProfileController"}
      .topic-card-wrapper{"ng-repeat" => "topic in topics"} 
        .topic-inner{"collapse" => "(openningPostTopic !== undefined) && (openningPostTopic !== {{topic.id}})"}
          .topic-card
            %h3.topic-card-heading
              {{topic.name}}
            .topic-card-body
              .topic-card-stats
                %a{:href => "", "ng-click" => "showPosts({{topic.id}})"}
                  {{topic.posts_size}} posts
                , 
                %a{:href => "", "ng-click" => "showFollowers({{topic.id}})"}
                  {{topic.followers_size}} people following
        .topic-posts{:collapse => "openningPostTopic !== topic.id"}
          %div.newscard{"posts" => "topic.posts", "user" => "user"}
          

          

