%div{"ng-include" => "", :src => "'views/navbar.html'"}
.container-fluid{:style => "margin-top: 60px;"}
  .span6.offset3
    %div{"ng-include" => "", :src => "'views/profile_about.html'"}
    .topic-card-wrapper.collapse{"ng-repeat" => "topic in topics", "ng-class" => "{'expanded': !isTopicCardCollapsed(topic.id), 'collapsed': isTopicCardCollapsed(topic.id)}"} 
      .topic-inner
        .topic-card
          .topic-card-button
            .dropdown-toggle
              %i.fa.fa-chevron-down
            %ul.dropdown-menu
              %li{"ng-show" => "topic.following"}
                %a{"ng-click" => "unfollow(topic.id)"}
                  Unfollow this topic
              %li{"ng-show" => "!topic.following"}
                %a{"ng-click" => "follow(topic.id)"}
                  Follow this topic

          %h3.topic-card-heading
            {{topic.name}}
          .topic-card-body
            .topic-card-stats
              %a{:href => "", "ng-click" => "showPosts(topic.id)"}
                {{topic.posts_size}} posts
              , 
              %a{:href => "", "ng-click" => "showFollowers(topic.id)"}
                {{topic.followers_size}} followers
            .topic-card-button-dropdown
              .topic-card-button-dropdown-wrapper
                .button-dropdown{:feeds => "feeds", :selected => "topic.selected", "followship-id" => "topic.followshipId", :following => "topic.following", "user" => "user", "topic-id" => "topic.id"}
      .topic-posts{:collapse => "openningPostTopic !== topic.id"}
        %div.newscard{"posts" => "topic.posts", "user" => "user"}
