.profile-card{"ng-controller" => "ProfileAboutController"}
  .profile-avatar
    .gravatar-image.profile-image{"data-gravatar-email" => "profileUser.email", "data-gravatar-size" => "70", "data-gravatar-default" => "mm"}
  .profile-details
    %p.profile-username
      {{profileUser.username}}
    %p.profile-name
      {{profileUser.name}}
    %p.profile-email
      {{profileUser.email}}
  .profile-actions
    %a.fa.fa-stack{"ng-href" => "#/"}
      %i.fa.fa-circle.fa-stack-2x
      %i.fa.fa-home.fa-stack-1x
  .navbar
    .navbar-inner
      %ul.nav
        %li{"ng-class" => "{'active': isActivePage('topics') || isActivePage('')}"}
          %a{:href => "", "ng-click" => "goto('topics')"}
            Topics
        %li{"ng-class" => "{'active': isActivePage('feeds')}"}
          %a{:href => "", "ng-click" => "goto('feeds')"}
            Feeds
        %li{"ng-class" => "{'active': isActivePage('posts')}"}
          %a{:href => "", "ng-click" => "goto('posts')"}
            Posts
        %li{"ng-class" => "{'active': isActivePage('favors')}"}
          %a{:href => ""}
            Favors
        %li{"ng-class" => "{'active': isActivePage('following')}"}
          %a{:href => ""}
            Following
        
