%ul#gn-menu.gn-menu-main
  %li.gn-trigger
    %a.gn-icon.gn-icon-menu{'data-ng-keydown' => "hello()"}

    %nav.gn-menu-wrapper
      %div.gn-scroller
        %ul.gn-menu
          %li.gn-search-item
            %input.gn-search{:placeholder => "Search", :type => "search"}
            %a.gn-icon.gn-icon-search
              %span
                Search
  %li
    %a{:href => ""}
      Main



