.row-fluid
  .span6.offset3
    %h1.text-center.login-title
      Create your account
    .login-card
      %form.form-signin
        %input.form-control{"data-ng-model" => "credential.email", :type => "text", :placeholder => "Email", :required => true, :autofocus => true}
        %input.form-control{"data-ng-model" => "credential.password", :type => "password", :placeholder => "Password", :required => true}
        %input.form-control{"data-ng-model" => "credential.passwordConfirmation", :type => "password", :placeholder => "Password confirmation", :required => true}
        %p.error-message
          {{message}}
        %button#signin-button.btn.btn-large.btn-primary.btn-block{"ng-click" => "submit()", :type => "submit"}
          Sign up
